/node_modules
/public/storage
/storage/*.key
/vendor
/.idea
/.settings
Homestead.json
Homestead.yaml
.env
composer.lock
storage/
.buildpath
.project
public/css/app.css
public/css/all.css
public/js/manifest.js
public/js/app.js
public/js/vendor.js
public/js/class/
public/fonts
public/images
public/vendor
public/uploads
public/mix-manifest.json
package-lock.json
